html {
	/*background: url(/image.gif) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
}

body {
	background-color: rgba(0, 0, 0, 0);
}

.username_head {
   padding: 10px 10px 10px 15px;
   font-size: 150%;
   float: left;
}

.container {
   font-weight: bold;
}

div.vote {
   margin-top: 15px;
}

.votebtn {
   width: 110px;
   margin-bottom: 5px;
}

.headbtn {
   margin-top: 5px;
}

.btn-liked {
   background-color: #0088cc;
   background-image: none;
   color: white;
}

.title {
   font-size: 150%;
   color: blue;   
   font-style: italic;
}

.answer {
   border-bottom: solid 1px lightgray;
   margin-bottom: 10px;
   padding: 20px 0px;
}

.control-label {
   font-style: italic;
   font-weight: bold;
}

.question {
   border: solid 2px lightgray;
   margin-bottom: 20px;
   padding: 20px 0px;
}

.setimage {
   padding: 20px;
}

.rcolumn {
   font: 12pt sans-serif;
   text-align: right;
   color: blue;   
}

div > div.rcolumn {
   margin-bottom: 20px;
}

.tags {
   color: white;
   margin-bottom: 5px;
   margin-top: 5px;
   font-size: 100%
}

.user_url {
   text-align: center;
}

.users {
   text-decoration: underline;
   color: black;
   font-size: 120%;
}
