{% extends 'base.html' %}

{% block content %}
    <span class='title'><h3>Ask your question here:</h3></span>
    <form class="form offset0" method="post" action="{% url 'ask_question' %}" novalidate>
    {% csrf_token %}
	<div class="control-group">
   	<label class="control-label" for="inputTitle">Title</label>
    	<div class="controls">
            <input class="full-width-input span8 form-control" placeholder="Enter your title" type="text" name="title" id="inputTitle" required="True">
        </div>
	</div>

	<div class="control-group">
   	<label class="control-label" for="inputText">Text</label>
    	<div class="controls">
            <textarea class="form-control span8 full-width-input" placeholder="Enter text"
		      type="text" name="text" id="inputText" cols="80" rows="20"  required="True"></textarea>
    	</div>
	</div>

	<div class="control-group">
    	<label class="control-label" for="inputTags">Tags</label>
    	<div class="controls">
        <input class="full-width-input span8 form-control" placeholder="Divide your tags by commas" type="text" name="tags" id="inputTags" required="True">
        </div>
	</div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary offset2 span3 full-width-submit">Ask!</button>
            </div>
        </div>
    </form>
{% endblock %}
