<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/js/main.js"></script>
    <script src="/js/jquery.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inner">
        <a class="brand" href="/"><i>Ask pupkin</i></a>
	<span class="navbar-search pull-left offset2">
  	  <input type="text" class="span4 search-query" placeholder="Search">
	</span>
	<a href="/ask/" class="span2 btn btn-primary offset1">ASK!</a>
	<span class="nav pull-right">
	{% if user.is_authenticated %}
          <span class="username_head">{{ user }}</span>
          <a class="btn span1 btn-success" href="{% url 'profile' %}">Settings</a>
          <a class="btn span1 btn-warning" href="{% url 'logout' %}">Log out</a>
	{% else %}
          <a class="btn span1 btn-primary" href="{% url 'login' %}?next={{ request.path }}">Log In</a>
          <a class="btn span1 btn-primary" href="{% url 'registration' %}">Register</a>
	{% endif %}
	</span>
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="span9">
        {% block content %}
	{% endblock %}
	</div>
        <div class="span3 rcolumn">
	  <div>
	    <h3><i>Popular tags</i></h3>
	    {% for tag in best_tags %}
               <a class="tags badge badge-info" onclick="set_tag('{{ tag.name }}')">{{ tag.name }}</a>
            {% endfor %}
	  </div>
	    <br><br>
          <div>
	    <h3><i>Cool Users</i></h3>
	    {% for user in best_users %}
               <li><a class="users" href="/user/{{ user.user.id }}">{{ user.user.username }}</a>
            {% endfor %}
	  </div>
        </div>
      </div>
    </div>
  </body>
</html>
