{% extends "base.html" %}

{% block content %}
	  <ul class="nav nav-pills">
	    {% if sort == '' %}
 	        <li class="active">
    	        <a href=""><h4>Last Questions</h4></a>
  	        </li>
  	        <li><a onclick="questions_hot(1);"><h4>Hot Questions</h4></a></li>
	        {% if user.is_authenticated %}
		    <li><a href="my"><h4>My Questions</h4></a></li>
	        {% endif %}
	    {% endif %}

	    {% if sort == 'hot' %}
		{% if tag %}		 
 	            <li><a href="/tag/{{ tag }}"><h4>Last Questions</h4></a></li>
		    <li class="active"><a href=""><h4>Hot Questions</h4></a></li>
		    {% if user.is_authenticated %}
			<li><a href="/tag/{{ tag }}/my"><h4>My Questions</h4></a></li>
	            {% endif %}
		{% else %}
		    <li><a href="/"><h4>Last Questions</h4></a></li>
		    <li class="active"><a href=""><h4>Hot Questions</h4></a></li>
		    {% if user.is_authenticated %}
			<li><a href="/my"><h4>My Questions</h4></a></li>
	            {% endif %}
		{% endif %}
	    {% endif %}

	    {% if sort == 'my' %}
		{% if tag %}		 
 	            <li><a href="/tag/{{ tag }}"><h4>Last Questions</h4></a></li>
		    <li><a href="/tag/{{ tag }}/hot"><h4>Hot Questions</h4></a></li>
		    <li class="active"><a href=""><h4>My Questions</h4></a></li>
		{% else %}
		    <li><a href="/"><h4>Last Questions</h4></a></li>
		    <li><a href="/hot"><h4>Hot Questions</h4></a></li>
		    <li class="active"><a href=""><h4>My Questions</h4></a></li>
		{% endif %}
	    {% endif %}

	    {% if tag %}
		<h4 style="text-align: right; padding: 8px 0px 0px 0px">
		    Tag: {{ tag }}
		    <a href="/{{ sort }}" class="btn btn-small">X</a>
		</h4>
	    {% endif %}
	  </ul>
           
          <div id="content">
                {% include "questions.html" %}
          </div>
          <div class="pagination">
		  <ul>
		    {% for i in pages %}
		    {% if i != '...' and i != '..'%}
			{% if questions.number == i %}	
		            <li class="active"><a href="?page={{i}}">{{i}}</a></li>
			{% else %}
			    <li><a href="?page={{i}}">{{i}}</a></li>
			{% endif %}
		    {% else %}
		       <li><a>...</a></li>
		    {% endif %}
		    {% endfor %}
		  </ul>
		
	  </div>
{% endblock %}
