{% extends "base.html" %}

{% block content %}
	  <ul class="nav nav-pills">
 	        <li id="nav_new" class="active"><a onclick="questions_new(1, getCurrentTag())"><h4>Last Questions</h4></a></li>
  	        <li id="nav_hot"><a onclick="questions_hot(1, getCurrentTag())"><h4>Hot Questions</h4></a></li>
	        {% if user.is_authenticated %}
		    <li id="nav_my"><a onclick="questions_my(1, getCurrentTag())"><h4>My Questions</h4></a></li>
	        {% endif %}

	    <h4 id="tag_area" style="text-align: right; display: none; padding: 8px 0px 0px 0px"></h4>
	  </ul>
           
          <div id="content">
                {% include "questions.html" %}
                <script>set_content_data()</script>
          </div>
{% endblock %}
