{% extends "base.html" %}

{% block content %}

{% if next %}
   <form class="form-horizontal" action="./login/?next={{ next }}" method="post">
{% else %}
   <form class="form-horizontal" method="post" action="{% url 'login' %}">
{% endif %}


{% csrf_token %}
	
    <br><br>

    {% if message %}
	<div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}

    <div class="control-group">
    <label class="control-label" for="inputLogin">Login</label>
    <div class="controls">
	<input class="form-control" type="text" name="login" id="inputLogin" placeholder="Login" required="true">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
	<input type="password" id="inputPassword" name='password' placeholder="Password" required="true">
    </div>
    </div>

    <div class="control-group">
        <div class="controls">
           <button type="submit" class="btn">Log in</button>
        </div>
    </div>

</form>


{% endblock %}

