<div class="pagination">
		  <ul>
		    {% for i in pages %}
		    {% if i != '...' and i != '..'%}
			    <li id="page_{{ i }}"><a onclick="get_page({{i}})">{{i}}</a></li>
		    {% else %}
		       <li><a>...</a></li>
		    {% endif %}
		    {% endfor %}
		  </ul>
		
</div>
