{% extends 'base.html' %}

{% block content %}

<br><br>

<form class="form-horizontal">

    <div class="control-group">
    <label class="control-label" for="inputLogin">Login</label>
    <div class="controls">
        <input class="form-control" type="text" id="inputLogin" placeholder="Login" required="true">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
        <input type="email" id="inputEmail" placeholder="Email" required="true">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password" required="true">
    </div>
    </div>

        <div class="control-group">
            <img class="img-round setimage" src="{{ currentuser.avalar_url }}">
            <label class="control-label" for="inputImg">Image</label>
            <div class="controls">
                <input type="file" id="inputImg" placeholder="URL">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Save</button>
            </div>
        </div>
</form>

{% endblock %}
