<div class="question row">
   <div class="span2">
      <div class="user_url">
	  <img src="{{ question.author.avalar_url }}" class="img-polaroid">
	  <a href="/user/{{ question.author.user.id }}"><h5>{{ question.author.user.username }}</h5></a>
	  <div class="btn votebtn" id="question_{{ question.id }}" onclick="question_like({{ question.id }})">like: {{ question.rating }}</div>
      </div>
   </div>
   <div class="span6">
      <h4><a href="/question/{{ question.id }}">{{ question.title }}</a></h4>
      <p>{{ question.text }}</p>
      Answers: {{ question.answer_set.count }}<br>
      Tags:
         {% for tag in question.tags.all%}
            <a class="badge badge-info" onclick="set_tag('{{ tag.name }}')" style="margin-bottom: 5px; margin-top: 5px">{{ tag.name }}</a>
         {% endfor %}
      
      <div>Date: <span class="badge badge-warning">{{ question.date_added }}</span></div>
   </div>
   <script>question_load({{ question.id }})</script>
</div>
