{% extends "base.html" %}
{% block content %}

{% include "question_block.html" %}

{% for answer in answers %}
<div class="answer row">
   <div class="span2 user_url">
	  <img src="{{ answer.author.avalar_url }}" class="img-polaroid">
	  <a href="/user/{{ answer.author.user.id }}"><h5>{{ answer.author.user.username }}</h5></a>
   </div>
   <div class="span5">
      <p>{{ answer.text }}</p>
      Date: 
      <span class="badge badge-warning">{{ answer.date_added }}</span>
   </div>
   <div class="vote span1">
       <div class="btn votebtn btn-success btn-small span1">+</div>
       <div class="btn votebtn btn-info btn-small span1">{{ answer.rating }}</div>
       <div class="btn votebtn btn-danger btn-small span1">-</div>
   </div>
</div>
{% endfor %}

<div class="pagination">
  <ul>
    {% for i in pages %}
    {% if i != '...' and i != '..'%}
	{% if answers.number == i %}	
	    <li class="active"><a href="?page={{i}}">{{i}}</a></li>
	{% else %}
	    <li><a href="?page={{i}}">{{i}}</a></li>
	{% endif %}
    {% else %}
       <li><a>...</a></li>
    {% endif %}
    {% endfor %}
  </ul>
		
</div>

{% if user.is_authenticated %}
<h3>Answer:</h3>
    <form class="form offset0" method="post" action="{{ request.full_path }}" novalidate>
    {% csrf_token %}
    <div class="control-group">
    	<div class="controls">
            <textarea class="form-control span8 full-width-input" placeholder="Enter your answer" type="text" name="text" 
		      id="inputBody" cols="80" rows="10" required='True'></textarea>
        </div>
    </div>
    <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary offset2 span3 full-width-submit">Answer</button>
            </div>
        </div>
    </form>
{% endif %}
{% endblock %}
