{% extends "base.html" %}

{% block content %}

<form id="registrationForm" class="form-horizontal offset0" action="{% url 'registration' %}" method="post">
    {% csrf_token %}
	
    <br><br>

    {% if message %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}
	
    <div class="control-group">
    <label class="control-label" for="inputLogin">Login</label>
    <div class="controls">
        <input class="form-control" type="text" name="login" id="inputLogin" placeholder="Login" required="true">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
        <input type="email" id="inputEmail" name='email' placeholder="Email" required="true">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
        <input type="password" id="inputPassword" name='password' placeholder="Password" required="true">
    </div>
    </div>

    <div class="control-group">
       <div class="controls">
          <button type="submit" class="btn">Sign in</button>
       </div>
    </div>
</form>

{% endblock %}
