{% extends "base.html" %}

{% block content %}
    <div style="text-align: center" class="span2">
      <div class="user_url">
	  <img src="{{ currentuser.avalar_url }}" class="img-polaroid">
	  <a href=""><h5>{{ currentuser.user.username }}</h5></a>
      </div>
      <div>
	  <span class="badge badge-info">Rating: {{ currentuser.rating }}</span>
      </div>
   </div>
   <div style="font-style: italic; font-weight: bold" class="span6">
      <h4>Name: {{ currentuser.user.first_name }}</h4>
      <h4>Lastname: {{ currentuser.user.last_name }}</h4>
      <h4>Email: {{ currentuser.user.email }}</h4>
      <h4>Join date: {{ currentuser.user.date_joined }}</h4>
   </div>
{% endblock %}
